In [ ]:
1. Write a Python program to find sum of elements in list?

In [ ]:
total = 0
 
list1 = [11, 5, 17, 18, 23]
 
for ele in range(0, len(list1)):
    total = total + list1[ele]
 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
2. Write a Python program to Multiply all numbers in the list?

In [ ]:
def multiplyList(myList) :
     
    result = 1
    for x in myList:
         result = result * x
    return result
     
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [ ]:
3. Write a Python program to find smallest number in a list?

In [ ]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("Smallest element is:",list1[0])

Smallest element is: 4

In [ ]:
4. Write a Python program to find largest number in a list?

In [ ]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("largest element is:",list1[-1])

largest element is: 99

In [ ]:
5. Write a Python program to find second largest number in a list?

In [ ]:
list1 = [10, 20, 4, 45, 99]
 
list1.sort()
 
print("second largest element is:",list1[-2])

second largest element is: 45

In [ ]:
6. Write a Python program to find N largest elements from a list?

In [ ]:
l=[2,4,90,76,87]
n=int(input())
s=[]
for i in range(n):
  s.append(max(l)) #append max of list in a new list
  l.remove(max(l)) #remove max of list from the list
print('by largest_ele function: ',s)

2
by largest_ele function:  [90, 87]

In [ ]:
7. Write a Python program to print even numbers in a list?

In [2]:
n = [10, 22, 4, 45, 69, 98]
 
for num in n:
 
    if num % 2 == 0:
        print(num, end=" ")

10 22 4 98

In [ ]:
8. Write a Python program to print odd numbers in a List?

In [3]:
n = [10, 22, 4, 45, 69, 98]
 
for num in n: 
    if num % 2 != 0:
        print(num, end=" ")

45 69

In [ ]:
9. Write a Python program to Remove empty List from List?

In [5]:
n=[5, 6, [], 3, [], [], 9]
for i in n:
  if i!=[]:
    print(i)

5
6
3
9

In [ ]:
10. Write a Python program to Cloning or Copying a list?

In [9]:
a=[1,2,3,4,5]
'''we can use '=' operator for copying the list from one variable to other'''
b=a  
print(b)

[1, 2, 3, 4, 5]

In [ ]:
11. Write a Python program to Count occurrences of an element in a list?

In [16]:
n=[1,1,1,3,4,5]
count= n.count(1)
print(count)

3