In [ ]:
Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(n):
  n=str(n)
  if n==n[-1::-1]:
    return True
  else:
    return False
is_symmetrical(12567)

False

In [ ]:
Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [21]:
def multiply_nums(s):
  mul=1
  num=s.split(",")
  for i in num:
    mul=mul*int(i)
  return mul
multiply_nums("10, -2")

-20

In [ ]:
Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [43]:
def square_digits(n):
  s=str(n)
  word=[i for i in s]
  sqaure=[int(i)**2 for i in word]
  l="".join(map(str,sqaure))
  return int(l)
square_digits(2483)

416649

In [ ]:
Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [44]:
def setify(l):
  return list(set(l))
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [ ]:
Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.

In [50]:
def mean(n):
  s=str(n)
  m=0
  word=[i for i in s]
  for i in word:
    m=m+int(i)
  return int(m/len(word))
mean(12345)

3